/* Start Variables */

/* End Variables */


/* Start Global Rule */


body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
}
/*.all_page{
     padding-left: 15px;
    padding-right:15px ;
    margin-left: auto;
    margin-right:auto ; 
}*/
/* Small
@media (min-width: 768px) {
    .all_page{
        width: 750px;
    }
}

/* Mediam */
/* @media (min-width: 992px) {
    .all_page{
        width: 970px;
    }
} */
/* Large */
/* @media (min-width: 1200px) {
    .all_page{
        width: 1170px;
    }
} */ 
/* End Global Rule */

/* Start Header  */
.header{
    padding: auto;
}
div.contanier_header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #2D2D34;
    height: 100px;
}
.all_page .header .contanier_header .links{
    position: relative;
}
.all_page .header .contanier_header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.all_page .header .contanier_header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px 0;
}
.all_page .header .contanier_header .links .icon span{
    background-color: #FFCA42;
    margin-bottom: 5px;         /* So that they don't stick together for span*/
}
.all_page .header .contanier_header .links .icon span:first-child{
    height: 5px;
    width: 100%;
}
.all_page .header .contanier_header .links .icon span:nth-child(2){
    height: 5px;
    width: 60%;
    transition: .3s;
}
.all_page .header .contanier_header .links .icon span:last-child{
    height: 5px;
    width: 100%;
}
.all_page .header .contanier_header .links ul{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #FFCA42;
    position: absolute;         /*So we can control them*/
    left: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
}
.all_page .header .contanier_header .links ul:before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFCA42 transparent;
    position: absolute;
    left: 5px;                 /*5px => span width 30px , ul::before border 20px + 5px right +5px left */
    top: -20px;                 /* ul size 20px */
}
.all_page .header .contanier_header .links:hover ul{
    display: block;
}
.all_page .header .contanier_header .links ul li a {
    display: block;
    padding :20px;
    text-decoration: none;
    color: #2D2D34;
    transition: .3s;
}
.all_page .header .contanier_header .links ul li a:hover{
    padding-left: 40px;
}
.all_page .header .contanier_header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #2D2D34;
}
div.all_page .header .contanier_header .logo_header span{
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    color: #F6F8FC;
    font-weight: bold;
}
div.all_page .header .contanier_header .nav ul {
    display: flex;
    justify-content: space-between;  /*to separeat between the Elements */
    align-items: center;
}
div.all_page .header .contanier_header .nav ul li{
    padding: 0 30px;
    list-style: none;
}
div.all_page .header .contanier_header .nav ul li a{
    text-decoration: none;
    color: #F6F8FC;
}
.pragraph{
    background-color: #2D2D34;
    text-align: center;
}
.pragraph h2{
    padding:0;
    margin: 0;
    color: white;
    font-family: 'Cardo', serif;
    font-size: 30px;
}
.pragraph span{
    display: inline-flex;
    width: 150px;
    background-color: #FFCA42;
    height: 3px;
}
.pragraph .line{
    margin: 0 0 10px;
}
.pragraph p{
    padding: 0 0 40px;
    margin: 0;
    color: #B4C7E7;
}
/* End Header  */

/* Start mid  */
.mid{
    min-height: 90vh;
    background-image: url(Images/Photo.jpg);
    background-repeat: round;
}
.mid .mid_content{
    text-align: center;
    display: grid;
}
.mid .mid_content h1{
    font-size: 120px;
    text-shadow: 5px 7px #FFCA42;
    color: #1B3764;
    margin: 140px 140px 0;
}
.mid .mid_content h3{
    font-size: 30px;
    color: #1B3764;
    margin: 0;
}
.mid .mid_content p{
    font-size: 15px;
    color: #1B3764;
    width: 40%;
    text-align: center;
    transform: translate(75%, 0%);
}

.mid .mid_content button{
    background-color: #FFCA42;
    width: 150px;
    height: 30px;
    text-align: center;
    transform: translate(380%, 100%);
    outline: none;
    border-style: none;
}
.mid .mid_content button a{
    text-decoration: none;
    color: #1B3764;
    font-weight: bold;
}


/* End mid  */

/* Start Footer  */
div.footer{
    background-color: #2D2D34;
    position: relative;

}
div.contanier_footer{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.contanier_footer .logo_footer {
    position: relative;
}
span.website-name{
    color: #F6F8FC;
    font-size: 25px;
    padding:0 0 0 7px;
}
.contanier_footer .logo_footer .media_icon{
    position: absolute;
    width: 200px;
}
.facebook,
.twitter,
.linkedin,
.git{
    padding: 10px;
}

.list_one ul li{
    list-style: none;
    padding: 5px;
}
.list_one ul li span.circle{
    width: 10px;
    height: 10px;
    display: flex;
    padding: 5px;

}
.list_one ul li span.circle span{
    border-style: solid;
    border-radius: 50%;
    margin-left: 5px;
    padding: 1px;
    border-width: 3px;
    border-color: #FFCA42;    
}
.list_one ul li  a{
    margin: -8px 10px 0;
    text-decoration: none;
    color: #B4C7E7;

}
.list_two ul li{
    list-style: none;
    padding: 5px;
}
.list_two ul li span.circle{
    width: 10px;
    height: 10px;
    display: flex;
    padding: 5px;

}
.list_two ul li span.circle span{
    border-style: solid;
    border-radius: 50%;
    margin-left: 5px;
    padding: 1px;
    border-width: 3px;
    border-color: #FFCA42;    
}
.footer4{
    color: #7B8FA1;
    font-size: 15px;
}
.footer4 p{
    margin: 0;
}
.list_two ul li  a{
    margin: -8px 10px 0;
    text-decoration: none;
    color: #B4C7E7;

}
span.line_footer hr {
    width: 60%;
    background-color: #FFCA42;
    border: none;
    height: 2px;
}
footer{
    text-align: center;
    color: #B4C7E7;
}
/* End Footer  */
