body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100%;
}

@font-face {
  font-family: Roboto-Regular;
  src: url(Fonts/Roboto-Regular.ttf);
}

.header {
  padding: auto;
}

div.contanier_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d34;
  height: 100px;
}

.all_page .header .contanier_header .links {
  position: relative;
}

.all_page .header .contanier_header .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.all_page .header .contanier_header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 40px 0;
}

.all_page .header .contanier_header .links .icon span {
  background-color: #ffca42;
  margin-bottom: 5px;
  /* So that they don't stick together for span*/
}

.all_page .header .contanier_header .links .icon span:first-child {
  height: 5px;
  width: 100%;
}

.all_page .header .contanier_header .links .icon span:nth-child(2) {
  height: 5px;
  width: 60%;
  transition: 0.3s;
}

.all_page .header .contanier_header .links .icon span:last-child {
  height: 5px;
  width: 100%;
}

.all_page .header .contanier_header .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffca42;
  position: absolute;
  /*So we can control them*/
  left: 40px;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
}

.all_page .header .contanier_header .links ul:before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ffca42 transparent;
  position: absolute;
  left: 5px;
  /*5px => span width 30px , ul::before border 20px + 5px right +5px left */
  top: -20px;
  /* ul size 20px */
}

.all_page .header .contanier_header .links:hover ul {
  display: block;
}

.all_page .header .contanier_header .links ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #2d2d34;
  transition: 0.3s;
}

.all_page .header .contanier_header .links ul li a:hover {
  padding-left: 40px;
}

.all_page .header .contanier_header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #2d2d34;
}

div.all_page .header .contanier_header .logo_header span {
  font-size: 28px;
  font-family: "Inter", sans-serif;
  color: #f6f8fc;
  font-weight: bold;
}

div.all_page .header .contanier_header .nav ul {
  display: flex;
  justify-content: space-between;
  /*to separeat between the Elements */
  align-items: center;
}

div.all_page .header .contanier_header .nav ul li {
  padding: 0 30px;
  list-style: none;
}

div.all_page .header .contanier_header .nav ul li a {
  text-decoration: none;
  color: #f6f8fc;
}

.pragraph {
  background-color: #2d2d34;
  text-align: center;
}

.pragraph h2 {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Cardo", serif;
  font-size: 30px;
}

.pragraph span {
  display: inline-flex;
  width: 150px;
  background-color: #ffca42;
  height: 3px;
}

.pragraph .line {
  margin: 0 0 10px;
}

.pragraph p {
  padding: 0 0 40px;
  margin: 0;
  color: #b4c7e7;
}

/* end of header */

form {
  display: flex;
  max-width: 500px;
  margin: 50px auto;
}

.add-container {
  display: flex;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
  flex-wrap: wrap;
}

.book-name,
.book-disc, .book-id {
  font-size: 18px;
  font-weight: 500;
  color: #2d2d34;

  border-radius: 5px;
  background-color: transparent;

  border: 2px solid #2d2d34;
  transition: all 0.3s;

  padding: 13px;
  margin-bottom: 10px;
  margin-top: 10px;

  outline: 0;
}

.book-id {
  cursor: no-drop;
  border: 2px solid #7b7b84;
}

.book-name:focus,
.book-disc:focus {
  border: 2px solid #ffca42;
}

.book-disc {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}

.add-btn,
.edit-btn,
.delete-btn {
  background-color: #2d2d34;
  border: 0;
  border-radius: 8px;
  cursor: pointer;

  color: #f6f8fc;
  font-size: 20px;
  font-weight: bolder;

  padding: 2%;
  width: 30%;
  transition: all 0.3s;
}

.add-btn:hover {
  background-color: #ffca42;
  color: #2d2d34;
}

.edit-btn:hover {
  background-color: #1b3764;
}

.delete-btn:hover {
  background-color: #c70000;
}

.book-name,
.book-disc,
.add-book {
  font-family: Roboto-Regular;
}

.endText {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  color: #2d2d34;
  font-weight: bold;
  font-family: Roboto-Regular;
}

.link {
  color: #ffca42;
  text-decoration: none;
}

.link:hover {
  color: #2d2d34;
}

table {
  width: 97%;
  border-collapse: collapse;
  margin: 30px auto;
}

th {
  background: #2d2d34;
  color: white;
  font-weight: bold;
}

td,
th {
  color: #f6f8fc;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

td {
  color: #2d2d34;
}

tr:hover {
  background-color: #cfcfcf;
  cursor: pointer;
}

.btn {
  background-color: #2d2d34;
  border: 0;
  cursor: pointer;
  color: #f6f8fc;
  font-size: 18px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s;
}

.btn:hover {
  background-color: red;
}

.btn-Add {
  float: right;
  margin-right: 2.3%;
  margin-top: 1%;
  margin-bottom: 1%;

  width: 4%;

  background-color: #2d2d34;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: #f6f8fc;
  font-size: 18px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s;
}

.btn-Add:hover {
  color: #2d2d34;
  background-color: #ffca42;
}

/* Start Footer  */
div.footer {
  background-color: #2d2d34;
  position: relative;
}

div.contanier_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contanier_footer .logo_footer {
  position: relative;
}

span.website-name {
  color: #f6f8fc;
  font-size: 25px;
  padding: 0 0 0 7px;
}

.contanier_footer .logo_footer .media_icon {
  position: absolute;
  width: 200px;
}

.facebook,
.twitter,
.linkedin,
.git {
  padding: 10px;
}

.list_one ul li {
  list-style: none;
  padding: 5px;
}

.list_one ul li span.circle {
  width: 10px;
  height: 10px;
  display: flex;
  padding: 5px;
}

.list_one ul li span.circle span {
  border-style: solid;
  border-radius: 50%;
  margin-left: 5px;
  padding: 1px;
  border-width: 3px;
  border-color: #ffca42;
}

.list_one ul li a {
  margin: -8px 10px 0;
  text-decoration: none;
  color: #b4c7e7;
}

.list_two ul li {
  list-style: none;
  padding: 5px;
}

.list_two ul li span.circle {
  width: 10px;
  height: 10px;
  display: flex;
  padding: 5px;
}

.list_two ul li span.circle span {
  border-style: solid;
  border-radius: 50%;
  margin-left: 5px;
  padding: 1px;
  border-width: 3px;
  border-color: #ffca42;
}

.footer4 {
  color: #7b8fa1;
  font-size: 15px;
}

.footer4 p {
  margin: 0;
}

.list_two ul li a {
  margin: -8px 10px 0;
  text-decoration: none;
  color: #b4c7e7;
}

span.line_footer hr {
  width: 60%;
  background-color: #ffca42;
  border: none;
  height: 2px;
}

footer {
  text-align: center;
  color: #b4c7e7;
}

/* End Footer  */
