body{
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #2D2D34;
}
a{
    color: #F6F8FC;
    text-decoration: none;
}
.book{
    height: 30px;
    display: flex;
    font-size: 30px;
    margin: 3% 15% 3% 10%;
}
pre{
    display:inline-block;
    margin:5% 3% 3% 10% ;
    font-size: 15px;
}
.basckt{
    height: 30px;
    display: flex;
    margin: 4% 0% 3% 0%;
}
b{
    color: black;
    margin: 0% 0% 0% 35%;
}
form{
    display: inline-block;
    margin: 3% 30% 10% 45%;
}
input{
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    width: 170px;
}
.Button_form{
    height: 30px;
    width: 178px;
    background-color: #FFCA42;
    border: #FFCA42;
}
p{
    margin: 0% 0% 0% 10%;
}
.footer,h3{
    display: flex;
    justify-content: space-between;
    background-color: #2D2D34;
    color: #F6F8FC;
}
.footer_img{
    display: block;
    margin: 3% 0% 0% 5%;
}
.bookend{
    font-size: 30px;
}
.facebook{
    height: 30px;
}
ul{
    color: #FFCA42;
}
.Explore{
    display: block;
    margin: 0% 0% 5% 20%;
}
.Utillity{
    display: block;
    margin: 0% 0% 5% 5%;
}
section{
    display: block;
    margin: 0% 0% 5% 5%;
}
.end{
    position: relative;
    margin-top: 22%;
    right: 50%;
}
hr{
    width: 60vh;
    background-color: #FFCA42;
    border: none;
    height: 2px;
}